<div class="md:mx-6 lg:mx-8 xl:w-1200px xl:mx-auto">
  <div class="flex flex-row justify-between items-center">
    <div class="text-xs">
      <div class="font-bold">Tuesday, May 25, 2021</div>
      <div>Today's Paper</div>
    </div>
    <img class="h-12 lg:h-24" src="../../../assets/new-york-times-logo-png-transparent.png">
    <div>
      <div class="flex flex-row justify-end items-center text-xs">
        <div class="font-bold">73&#8457;</div>
        <div class="pl-2">74</div>
        <div class="text-gray-500 pl-2">52</div>
      </div>
      <div class="flex flex-row justify-end text-xs">
        <div>Dow</div>
        <div class="pl-2 text-red-800">-0.24%</div>
        <div class="pl-1 text-red-800">&darr;</div>
      </div>
    </div>
  </div>
  <div class="hidden lg:flex flex-row justify-between px-14 py-2 border-t-2 border-gray-100 text-xs">
    <div>World</div>
    <div>U.S.</div>
    <div>Politics</div>
    <div>N.Y.</div>
    <div>Business</div>
    <div>Opinion</div>
    <div>Tech</div>
    <div>Science</div>
    <div>Health</div>
    <div>Sports</div>
    <div>Arts</div>
    <div>Books</div>
    <div>Style</div>
    <div>Food</div>
    <div>Travel</div>
    <div>Magazine</div>
    <div>T Magazine</div>
    <div>Real Estate</div>
    <div>Video</div>
  </div>
  <div class="border-b-2 border-black"></div>
  <div class="flex flex-row justify-between py-2 border-b-2 border-black">
    <div class="flex-1 flex flex-row">
      <div class="flex-none">
        <img class="w-12" src="../../../assets/book-review-album-art-v2-square320-v2.jpg">
      </div>
      <div class="flex-1 text-xs pl-2">
        <div class="font-bold">Listen to ‘The Book Review Podcast’</div>
        <div>Maggie O’Farrell on “Hamnet,” her novel about Shakespeare and his family.</div>
      </div>
    </div>
    <div class="flex-1 flex flex-row border-l-2 border-gray-200 pl-4">
      <div class="flex-none">
        <img class="w-12" src="../../../assets/the-daily-album-art-square320-v4.png">
      </div>
      <div class="flex-1 text-xs pl-2">
        <div class="font-bold">Listen to ‘The Daily’</div>
        <div>A cheerleader, a Snapchat post and the Supreme Court.</div>
      </div>
    </div>
    <div class="flex-1 flex flex-row border-l-2 border-gray-200 pl-4">
      <div class="flex-none">
        <img class="w-12" src="../../../assets/sway-album-art-square320-v10.jpg">
      </div>
      <div class="flex-1 text-xs pl-2">
        <div class="font-bold">Opinion: Listen to ‘Sway’ With Kara Swisher</div>
        <div>The founder of Bellingcat chats about taking on Vladimir Putin and the ethics of online sleuthing.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row justify-between pt-4 font-serif">
    <div class="lg:w-2/3 flex flex-row">
      <div class="flex-1 pr-4">
        <div class="text-lg leading-tight font-bold">Biden Calls for U.S. Report on Whether Coronavirus Emerged From a Lab</div>
        <div class="text-sm leading-snug pt-1">
          <ul class="list-disc list-inside">
            <li>President Biden asked intelligence agencies to “redouble” investigative efforts, as health officials pushed for a more rigorous inquiry on the virus’s origins.</li>
            <li>The W.H.O. is facing mounting criticism for its report dismissing the possibility that the virus had accidentally escaped from a Chinese lab. Here’s the latest.</li>
          </ul>
        </div>
      </div>
      <div class="flex-1 lg:pr-4">
        <img src="../../../assets/lead-story-pic.jpg">
      </div>
    </div>
    <div class="lg:w-1/3 flex flex-row pt-4 space-x-4 lg:space-x-0 lg:py-0 lg:flex-col lg:pl-4 border-t-2 mt-4 lg:mt-0 lg:border-t-0 lg:border-l-2 border-gray-200">
      <div class="flex-1 text-sm lg:pb-4 lg:border-b-2 lg:border-gray-200">
        <div class="font-bold leading-tight">Immunity to the Coronavirus May Persist for Years, Scientists Find</div>
        <div class="leading-snug pt-1">Important immune cells survive in the bone marrow of people who were infected with the virus or were inoculated against it, new research suggests.</div>
      </div>
      <div class="flex-1 text-sm lg:py-4">
        <div class="font-bold leading-tight">Traveling to Europe this summer? A lot has changed since last year.</div>
        <div class="leading-snug pt-1">The deal will give the e-commerce giant access to the James Bond franchise as it seeks to bolster its Prime membership offering.</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row pt-4 font-serif">
    <div class="lg:w-2/3 flex flex-col lg:mr-4">
      <div class="flex flex-row border-t-2 border-gray-200 py-4">
        <div class="w-1/3 text-lg font-bold pr-14 leading-tight">8 Killed in Shooting at San Jose Rail Yard</div>
        <div class="w-2/3 text-sm leading-snug">The assailant is also dead, officials in Santa Clara County, Calif., said. They believe explosive devices were left in the rail facility. Follow updates here.</div>
      </div>
      <div class="flex flex-row border-t-2 border-gray-200 py-4">
        <div class="flex-1 pr-4">
          <div class="text-lg leading-tight font-bold">Climate Activists Defeat Exxon in Push for Clean Energy</div>
          <div class="text-sm leading-snug pt-1">Shareholders dealt a blow to Exxon Mobil’s management by electing at least two activist investors to its board for the first time, analysts said.</div>
        </div>
        <div class="flex-1">
          <img src="../../../assets/climate-activits.jpg">
        </div>
      </div>
      <div class="flex flex-row border-t-2 border-gray-200 py-4">
        <div class="w-1/3 text-lg font-bold pr-14 leading-tight">A Culture of Fear at the Firm That Manages Bill Gates’s Fortune</div>
        <div class="w-2/3 text-sm leading-snug">At least four employees at the firm, Cascade Investment, complained to Mr. Gates about Michael Larson, his longtime money manager.</div>
      </div>
      <div class="flex flex-row border-t-2 border-gray-200 py-4">
        <div class="w-1/3 text-lg font-bold pr-14 leading-tight">A New Crop in Pennsylvania: Warehouses</div>
        <div class="w-2/3 text-sm leading-snug">Lehigh Valley has seen a warehouse boom, fueled by the growth of e-commerce. But some are feeling “warehouse fatigue” and worry about the area’s quality of life.</div>
      </div>
      <div class="flex flex-row border-t-2 border-gray-200 py-4">
        <div class="flex-1 pr-4">
          <div class="text-lg leading-tight font-bold">These Are the 68 Children Killed in the Israel-Gaza War</div>
          <div class="text-sm leading-snug pt-1">Nadine, Hamza, Mina. Leaders launched the war, but it was at least 66 children in Gaza and two in Israel who paid the price.</div>
        </div>
        <div class="flex-1">
          <img src="../../../assets/children-missing.jpg">
        </div>
      </div>
    </div>
    <div class="border-r-2"></div>
    <div class="lg:w-1/3 border-t-2 border-gray-200 ml-4 pt-3">
      <div class="text-lg font-bold">Opinion</div>
      <div class="flex flex-row justify-between pt-2 text-base leading-tight">
        <div class="flex-1">
          <div>
            <div class="text-gray-500">Alexey Kovalev</div>
            <div class="pt-1 font-bold">Every Belarusian Journalist I Know Is in Jail or Exile</div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200 flex flex-row">
            <div class="w-3/4 pr-3">
              <div class="text-gray-500">Thomas B. Edsall</div>
              <div class="pt-1 font-bold">Is Wokeness ‘Kryptonite for Democrats’?</div>
            </div>
            <div class="w-1/4">
              <img class="h-10" src="../../../assets/thomas-b-edsall-thumbLarge-v2.png">
            </div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200">
            <div class="text-gray-500">Farhad Manjoo</div>
            <div class="pt-1 font-bold">The Apple Tax Is Rotten</div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200">
            <div class="text-gray-500">Tala Schlossberg and Lindsay Crouse</div>
            <div class="pt-1 font-bold">Your Body Survived a Pandemic. Don’t Punish It With Diet Fads.</div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200">
            <div class="text-gray-500">Abigail Marsh</div>
            <div class="pt-1 font-bold">Everyone Thinks Americans Are Selfish. They’re Wrong.</div>
          </div>
        </div>
        <div class="flex-1 border-l-2 border-gray-200 pl-4">
          <div>
            <div class="text-gray-500">‘The Argument’</div>
            <div class="pt-1 font-bold">‘Republicans Are Very, Very Close to Driving Democracy Into a Ditch’</div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200">
            <div class="text-gray-500">Nicholas Eberstadt</div>
            <div class="pt-1 font-bold">Biden and Moon Are Getting North Korea Wrong</div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200">
            <div class="text-gray-500">Thomas L. Friedman</div>
            <div class="pt-1 font-bold">The Mideast Conflict Is Blowing Up the Region and the Democratic Party</div>
          </div>
          <div class="mt-4 mr-4 pt-4 border-t-2 border-gray-200">
            <div class="text-gray-500">Diana Buttu</div>
            <div class="pt-1 font-bold">The Myth of Coexistence in Israel</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
